/* Font  
Roboto
Raleway
*/

/* COLOR
basic - #757575
secondary - #212121; #FFFFFF; #000000
attention #2196F3 
*/

/* backgroud
basic - #ffffff;
secondary - #2F303A
attention #2196F3 */
/* #F5F4FA; */

/* Variable */

:root {
  --background-basik: #ffffff;
  --background-secondary: #2f303a;
  --backgroud-team: #f5f4fa;
  --color-basik: #757575;
  --color-second: #212121;
  --color-attention: #2196f3;
  --color-dark: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-basik);
  background-color: var(--background-basik);
  font-size: 16px;
  font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  color: inherit;
  border: none;
  background-color: none;
  cursor: pointer;
 }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* common styles */
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-second);
}

/* Styling logo */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-dark);
 }

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-attention);
}

/* Styling nav + adress */
.header-navigation {
  display: flex;
}

.header-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-list {
    display: flex; 
}

.header-adress {
    display: flex;
}

.header>.container {
    display: flex;
}

.nav {
  color: var(--color-dark);
}

.nav.current {
  color: var(--color-attention);
}

.nav:hover,
.nav:focus {
  color: var(--color-attention);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--color-attention);
}

/* Hero */

.hero {
  background-color: var(--background-secondary);
}

.site-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-basik);
}

.hero-button {
  font-style: normal;
  font-weight: 700;
  line-height: 1.87; 
  background-color: var(--color-attention);
  color: var(--background-basik);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
color: var(--color-attention);
background-color: var(--background-basik);
}

/* section2 */

.principle-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-second);
}

.principle-text {
  font-size: 14px;
  line-height: 1.71;
}

/* section3 */

.team {
  background-color: var(--backgroud-team);
}

.team-card {
  background: var(--background-basik);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-style: normal;
  font-weight: 500;
  line-height: 1.27;
  text-align: center;
  color: var(--color-second);
}

.team-position {
  line-height: 1.27;
  text-align: center;
}

/* Footer  */
.footer {
  background-color: var(--background-secondary);
}

.logo.light {
  color: var(--background-basik);
}

.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-basik);
}

.mailto,
.tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.map:hover,
.map:focus,
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
    color: var(--color-attention);
}


/* portfolio stilization */
/* button stylizations */
.button-style {
  color: var(--color-second);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  background-color: var(--backgroud-team);
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
}

.button-style:hover,
.button-style:focus {
  color: var(--background-basik);
  background-color: var(--color-attention);
}

/* picture block  */

.card {
  box-sizing: border-box;
  background: var(--background-basik);
  border: 1px solid #eeeeee;
 }

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--color-second);
}

.card-text {
  line-height: 1.87;
}
